---
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb
spec:
  image: docker-registry1.mariadb.com/library/mariadb:11.8.6
  rootPasswordSecretKeyRef:
    name: firefly-iii-mariadb-password
    key: PASSWORD
  username: firefly
  passwordSecretKeyRef:
    name: firefly-iii-mariadb-password
    key: PASSWORD
  database: fireflydb
  storage:
    size: 12Gi
    storageClassName: ceph-block
