---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: moco
spec:
  interval: 30m
  chart:
    spec:
      chart: moco
      version: 0.16.0
      sourceRef:
        kind: HelmRepository
        name: moco
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
