---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: finance
resources:
  - ./data-pvc.yaml
  - ./restic-config.sops.yaml
  - ./oci-phx-restic-config.sops.yaml
  - ./volsync.yaml
  - ./ingress.yaml
  - ./ingressroute.yaml
  - ../../../../base/firefly-iii
patches:
  - path: ./firefly-iii-values.yaml
