---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarqube
spec:
  values:
    community:
      enabled: true
    jdbcOverwrite:
      enable: true
      jdbcUrl: "jdbc:postgresql://sonarqube-postgresql-rw:5432/sonarqube"
      jdbcUsername: sonarqube
      jdbcSecretName: sonarqube-postgresql-secret
      jdbcSecretPasswordKey: password
    postgresql:
      enabled: false
    monitoringPasscode: "sonar-monitoring"
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - name: "sonar.${SECRET_DOMAIN}"
          path: /
    resources:
      requests:
        cpu: 200m
        memory: 1536M
      limits:
        cpu: 800m
        memory: 4096M
