---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: daily-backup
  namespace: longhorn-system
spec:
  cron: "0 9 * * *"
  task: "backup"
  parameters:
    full-backup-interval: "3"
  groups:
    - daily
  retain: 7
  concurrency: 3
