---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trivy-operator
spec:
  interval: 15m
  chart:
    spec:
      chart: trivy-operator
      version: 0.24.1
      sourceRef:
        kind: HelmRepository
        name: aqua
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
