---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shlink-client
spec:
  values:
    controllers:
      main:
        enabled: true
        containers:
          main:
            image:
              repository: shlinkio/shlink-web-client
              tag: "4.3.0"
            env:
              SHLINK_SERVER_URL: "https://shlink.${SECRET_DOMAIN}"
              SHLINK_SERVER_API_KEY: "${SECRET_SHLINK_API_KEY}"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      main:
        enabled: true
        ports:
          http:
            enabled: true
            port: 8080
