---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  chart:
    spec:
      chart: longhorn
      version: 1.9.2
  values:
    persistence:
      defaultClass: true
      reclaimPolicy: Retain
      backupTargetName: default
    defaultSettings:
      storageMinimalAvailablePercentage: "10"
      nodeDrainPolicy: "block-for-eviction-if-contains-last-replica"
      concurrentAutomaticEngineUpgradePerNodeLimit: 1
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      orphanAutoDeletion: true
    defaultBackupStore:
      backupTarget: "s3://sj-backup@us-sanjose-1/longhorn"
      backupTargetCredentialSecret: oci-object-storage-secret
      pollInterval: 300
    ingress:
      enabled: false
      ingressClassName: nginx
      tls: true
      host: "longhorn.staging.${SECRET_DOMAIN}"
      tlsSecret: "longhorn-dashboard-tls"
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-production"
        # external-dns/is-public: "true"
        # external-dns.alpha.kubernetes.io/target: "ipv4-phx.${SECRET_DOMAIN}"
        # nginx.ingress.kubernetes.io/whitelist-source-range: "${SECRET_EXTERNAL_IP}/32"
