---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-vaultwarden
  namespace: flux-system
spec:
  path: ./kubernetes/apps/staging-sj/security/vaultwarden/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-source
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: vaultwarden
      namespace: security
  interval: 30m
  retryInterval: 1m
  timeout: 3m
