---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgresql
spec:
  instances: 3
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    name: postgresql
    major: 15
  storage:
    storageClass: ceph-block
    size: 8Gi
  bootstrap:
    initdb:
      database: authentik
      owner: authentik
      secret:
        name: authentik-postgresql-secret
  postgresql:
    synchronous:
      method: any
      number: 1
  affinity:
    topologyKey: kubernetes.io/hostname
  backup:
    target: "prefer-standby"
    # barmanObjectStore:
    #   TODO: TODO
    volumeSnapshot:
      className: csi-rbdplugin-snapclass