---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: development
resources:
  - ./data-pvc.yaml
  - ./restic-config-user-avatars.sops.yaml
  - ./restic-config-attachments.sops.yaml
  - ./restic-config-project-background-images.sops.yaml
  - ./volsync.yaml
  - ../../../../base/planka
patches:
  - path: ./planka-values.yaml
