---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-planka-database
  namespace: flux-system
spec:
  path: ./kubernetes/apps/production/development/planka/database
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-source
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: planka-postgresql
      namespace: development
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-planka
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-planka-database
  path: ./kubernetes/apps/production/development/planka/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-source
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: planka
      namespace: development
  interval: 30m
  retryInterval: 1m
  timeout: 3m
