---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
spec:
  values:
    image:
      repository: louislam/uptime-kuma
      tag: "1.23.11-alpine"
    service:
      main:
        ports:
          http:
            port: 3001
    ingress:
      main:
        enabled: true
        ingressClassName: "cilium"
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "ipv4-sj.${SECRET_DOMAIN}"
        hosts:
          - host: &host "status-sj.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
            secretName: "uptime-kuma-tls"
    persistence:
      data:
        enabled: true
        existingClaim: uptime-kuma-data
        mountPath: /app/data
