---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tigera-operator
spec:
  interval: 10m
  chart:
    spec:
      chart: tigera-operator
      version: v3.28.2
      sourceRef:
        kind: HelmRepository
        name: calico
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
    crds: CreateReplace
  uninstall:
    keepHistory: false
