---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app changedetection
spec:
  values:
    controllers:
      changedetection:
        containers:
          app:
            image:
              repository: ghcr.io/dgtlmoon/changedetection.io
              tag: 0.46.04@sha256:cfe4379f448e71ed7c0030b00562c678f5349d0b209b8d4985df20826af38e93
            env:
              TZ: ${TIMEZONE}
              BASE_URL: changedetection.${SECRET_DOMAIN}
              PORT: &port 5000
              USE_X_SETTINGS: 1
              # PLAYWRIGHT_DRIVER_URL: ws://changedetection-browser.default.svc.cluster.local:3000/?stealth=1&--disable-web-security=true
              PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/tmp/cache
            resources:
              requests:
                cpu: 25m
                memory: 145M
              limits:
                memory: 512M
          browser:
            image:
              repository: docker.io/browserless/chrome
              tag: latest
              pullPolicy: IfNotPresent
            env:
              - { name: SCREEN_WIDTH, value: "1920" }
              - { name: SCREEN_HEIGHT, value: "1024" }
              - { name: SCREEN_DEPTH, value: "16" }
              - { name: ENABLE_DEBUGGER, value: "false" }
              - { name: PREBOOT_CHROME, value: "true" }
              - { name: CONNECTION_TIMEOUT, value: "300000" }
              - { name: MAX_CONCURRENT_SESSIONS, value: "10" }
              - { name: CHROME_REFRESH_TIME, value: "600000" }
              - { name: DEFAULT_BLOCK_ADS, value: "true" }
              - { name: DEFAULT_STEALTH, value: "true" }
            resources:
              requests:
                cpu: 25m
                memory: 979M
              limits:
                memory: 1G
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      app:
        enabled: true
        className: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        hosts:
          - host: &host "changedetection.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      datastore:
        enabled: true
        existingClaim: changedetection-data
