---
apiVersion: moco.cybozu.com/v1beta2
kind: MySQLCluster
metadata:
  name: mysql
spec:
  replicas: 1
  backupPolicyName: blog-daily-mysql-backup
  podTemplate:
    spec:
      containers:
        - name: mysqld
          image: ghcr.io/cybozu-go/moco/mysql:8.4.8
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: ceph-block
        resources:
          requests:
            storage: 6Gi
