---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
spec:
  interval: 1h
  chart:
    spec:
      chart: reflector
      version: 10.0.10
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values: {}
