---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redis
spec:
  values:
    architecture: standalone
    auth:
      enabled: false
    master:
      persistence:
        storageClass: ceph-block
        size: 12Gi
