---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: external-dns
spec:
  interval: 15m
  chart:
    spec:
      chart: external-dns
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      version: 1.13.1
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  postRenderers:
    - kustomize:
        patchesJson6902:
          - target:
              kind: ClusterRole
              name: external-dns
            patch:
              - op: add
                path: /rules/-
                value:
                  apiGroups: ["externaldns.k8s.io"]
                  resources: ["dnsendpoints"]
                  verbs: ["get", "watch", "list"]
              - op: add
                path: /rules/-
                value:
                  apiGroups: ["externaldns.k8s.io"]
                  resources: ["dnsendpoints/status"]
                  verbs: ["*"]
