---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea
spec:
  values:
    gitea:
      admin:
        email: ${SECRET_GITEA_ADMIN_EMAIL}
        username: git-admin
        password: ${SECRET_GITEA_ADMIN_PASSWORD}
      oauth:
        - name: authentik
          provider: openidConnect
          key: ${SECRET_GITEA_AUTHENTIK_CLIENT_ID}
          secret: ${SECRET_GITEA_AUTHENTIK_CLIENT_SECRET}
          autoDiscoverUrl: https://id.${SECRET_DOMAIN}/application/o/gitea-slug/.well-known/openid-configuration
          iconUrl: https://raw.githubusercontent.com/goauthentik/authentik/master/web/icons/icon.png
          scopes: "email profile"
          groupClaimName: groups
          adminGroup: "Gitea Admins"
          useCustomUrls: false
      config:
        APP_NAME: "Homelab Gitea"
        # webhook:
        #   ALLOWED_HOST_LIST: "10.43.0.0/16"
        database:
          DB_TYPE: postgres
          HOST: gitea-postgresql-rw:5432
          NAME: gitea
          USER: gitea
          PASSWD: ${SECRET_GITEA_POSTGRESQL_PASSWORD}
          SCHEMA: public
        server:
          SSH_PORT: 22
          SSH_DOMAIN: git-ssh.${SECRET_DOMAIN}
          ROOT_URL: https://git.${SECRET_DOMAIN}
        mailer:
          ENABLED: true
          SMTP_ADDR: ${SECRET_GITEA_MAIL_HOST}
          SMTP_PORT: "587"
          FROM: ${SECRET_GITEA_MAIL_FROM}
          USER: ${SECRET_GITEA_MAIL_USER}
          PASSWD: ${SECRET_GITEA_MAIL_PASSWORD}
        respository:
          DEFAULT_PRIVATE: true
        service:
          DISABLE_REGISTRATION: true
          REQUIRE_SIGNIN_VIEW: true
        session:
          PROVIDER: redis
          PROVIDER_CONFIG: redis://:gitea@gitea-redis-headless:6379/0?pool_size=100&idle_timeout=180s&
        cache:
          ENABLED: true
          ADAPTER: redis
          HOST: redis://:gitea@gitea-redis-headless:6379/0?pool_size=100&idle_timeout=180s&
        queue:
          TYPE: redis
          CONN_STR: redis://:gitea@gitea-redis-headless:6379/0?pool_size=100&idle_timeout=180s&
    service:
      type: LoadBalancer
    redis-cluster:
      enabled: false
    valkey-cluster:
      enabled: false
    postgresql:
      enabled: false
    postgresql-ha:
      enabled: false
    persistence:
      enabled: true
      mount: true
      create: false
      claimName: "gitea-data"
    ingress:
      enabled: true
      className: traefik
      annotations:
        external-dns/is-public: "true"
        external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
      hosts:
        - host: &host "git.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
