---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: firefly-iii
spec:
  interval: 15m
  chart:
    spec:
      chart: firefly-iii
      version: 1.8.1
      sourceRef:
        kind: HelmRepository
        name: firefly
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
