apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  values:
    crds:
      install: true
    global:
      domain: "argocd.${SECRET_DOMAIN}"
    configs:
      params:
        server.insecure: true
    dex:
      enabled: false
    notifications:
      enabled: false
    applicationSet:
      enabled: false
    server:
      ingress:
        enabled: true
        ingressClassName: traefik
        hostname: "argocd.${SECRET_DOMAIN}"
        tls: false
