crowdsec_lapi_url: https://crowdsec-service.security:8080/
crowdsec_lapi_key: ${SECRET_CROWDSEC_CLOUDFLARE_BOUNCER_KEY}
crowdsec_update_frequency: 1m
ca_cert_path: /etc/ssl/certs/ca.crt
cert_path: /etc/ssl/certs/tls.crt
key_path: /etc/ssl/certs/tls.key
cloudflare_config:
  accounts:
    - id: ${SECRET_CROWDSEC_CLOUDFLARE_BOUNCER_ACCOUNT_ID}
      zones:
        - zone_id: ${SECRET_CROWDSEC_CLOUDFLARE_BOUNCER_ZONE_ID}
          actions:
            - challenge
      token: ${SECRET_CROWDSEC_CLOUDFLARE_BOUNCER_API_TOKEN}
      ip_list_prefix: crowdsec
      default_action: challenge
      total_ip_list_capacity: 10000 # only this many latest IP decisions would be kept
  update_frequency: 10s
daemon: false
log_mode: stdout
log_dir: /var/log/
log_level: info
cache_path: /var/lib/crowdsec/crowdsec-cloudflare-bouncer/cache/cloudflare-cache.json
prometheus:
  enabled: true
  listen_addr: 127.0.0.1
  listen_port: "2112"
