---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wyze-bridge
spec:
  values:
    controllers:
      wyze:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: idisposablegithub365/wyze-bridge
              tag: latest
            env:
              TZ: "${TIMEZONE}"
              H264_ENC: h264_qsv
              NET_MODE: LAN
              ON_DEMAND: False
              SUBSTREAM: False
              # FFMPEG_LOGLEVEL: debug
              LIBVA_DRIVER_NAME: i965
              WYZE_EMAIL: "${SECRET_WYZE_EMAIL}"
              WYZE_PASSWORD: "${SECRET_WYZE_PASSWORD}"
              API_ID: "${SECRET_WYZE_API_ID}"
              API_KEY: "${SECRET_WYZE_API_KEY}"
              WB_AUTH: False
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 200m
              limits:
                memory: 1000Mi
    service:
      app:
        controller: wyze
        ports:
          http:
            enabled: true
            port: 5000
          rtmp:
            enabled: true
            port: 1935
          rstp:
            enabled: true
            port: 8554
          hls:
            enabled: true
            port: 8888
          webrtc:
            enabled: true
            port: 8889
    ingress:
      app:
        className: traefik
        hosts:
          - host: wyze.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
