---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-firefly-iii-database
  namespace: flux-system
spec:
  path: ./kubernetes/apps/production/finance/firefly-iii/database
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-source
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: firefly-iii-mariadb
      namespace: finance
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-firefly-iii
  namespace: flux-system
spec:
  path: ./kubernetes/apps/production/finance/firefly-iii/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-source
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: firefly-iii
      namespace: finance
  interval: 30m
  retryInterval: 1m
  timeout: 3m
