---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  interval: 5m
  chart:
    spec:
      chart: reloader
      version: 1.0.115
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 5m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    fullnameOverride: reloader
