---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
spec:
  values:
    expose:
      type: ingress
      tls:
        enabled: true
        certSource: secret
        secret:
          secretName: "harbor-tls"
          notarySecretName: "harbor-notary-tls"
      ingress:
        hosts:
          core: harbor.${SECRET_DOMAIN}
          notary: harbor-notary.${SECRET_DOMAIN}
        className: "traefik"
        annotations:
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
    externalURL: https://harbor.${SECRET_DOMAIN}
    persistence:
      enabled: true
      resourcePolicy: "keep"
      persistentVolumeClaim:
        registry:
          storageClass: "ceph-block"
          size: 15Gi
        jobservice:
          jobLog:
            storageClass: "ceph-block"
            size: 1Gi
        database:
          storageClass: "ceph-block"
          size: 5Gi
        redis:
          storageClass: "ceph-block"
          size: 1Gi
        trivy:
          storageClass: "ceph-block"
          size: 5Gi
      imageChartStorage:
        type: filesystem
        filesystem:
          rootdirectory: /storage
    logLevel: info
    harborAdminPassword: "${SECRET_HARBOR_ADMIN_PASSWORD}"
    database:
      internal:
        password: "${SECRET_HARBOR_DB_PASSWORD}"
