---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: tekton-chart
  namespace: flux-system
spec:
  interval: 5m
  url: https://github.com/tektoncd/operator.git
  ref:
    # branch: main
    tag: "v0.70.0"
  ignore: |-
    # exclude all
    /*
    # include charts directory
    !/chart/
