apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  releaseName: argocd
  chart:
    spec:
      chart: argo-cd
      version: "9.4.1"
      sourceRef:
        kind: HelmRepository
        name: argo
        namespace: flux-system
  interval: 30m
  install:
    remediation:
      retries: 3
  values:
    server:
      ingress:
        enabled: true
        ingressClassName: traefik
